<div class="page-header">
	<h1>新着聞きたいYO!</h1>
</div>
<div class="list-group">
	<% @musics.each do |music| %>
		<%= link_to(music, class: 'list-group-item') do %>
			<h4 class="list-group-item-text"> 
				<%= music.url %>
			</h4>
			<p class="list-group-item-text">
				<%= music.url %> 
			</p>
		<% end %>
	<% end %>
	<%= paginate @musics %>
</div>
